// Colors
$backgroundColor: white;
$backgroundColorDim: #fcfcfc;
$fontColor: black;
$linkColor: $fontColor;

// Shadows
$boxShadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

// Sizes
$footerHeight: 50px;

$mobileMaxWidth: 767px;
